@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Genre</td>
        <td>Release date</td>
        <td>Date added</td>
        <td>stock</td>
        <td>options</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
        <tr>
            <td>@i.Genre.Description</td>
            <td>@i.ReleaseDate</td>
            <td>@i.DateAdded</td>
            <td>@i.Stock</td>
            <td>@Html.ActionLink("Details", "ShowDetails", "Movie", new { id = i.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>

