@model Vidly.Models.Movie

@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>

<h1>@Model.Name</h1>
<h1>@Model.Genre.Description</h1>
<h1>@Model.ReleaseDate</h1>
<h1>@Model.DateAdded</h1>
<h1>@Model.Stock</h1>


